%ul.nav.pull-right
  - actions(:root).each do |action|
    %li= link_to content_tag('div', "", :class => 'home-icon'), { :action => action.action_name, :controller => 'rails_admin/main' }, :class => 'pjax'
  - if main_app_root_path = (main_app.root_path rescue false)
    %li= link_to t('home.name').capitalize, main_app_root_path, :class => 'pjax'
  - if _current_user
    - if user_link = edit_user_link
      %li= link_to content_tag('div', "", :class => 'user-icon'), "/user/#{current_user.id}/edit"
    - if defined?(Devise) && (devise_scope = request.env["warden"].config[:default_scope] rescue false) && (logout_path = main_app.send("destroy_#{devise_scope}_session_path") rescue false)
      %li= link_to content_tag('div', "", :class => 'logout-icon'), logout_path, :method => Devise.sign_out_via
